<!-- Modal -->
<!-- <div class="c-modal modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modal1"> 
    <div class="c-modal__dialog modal-dialog" role="document">
        <div class="modal-content">
            <div class="c-card u-p-medium u-mh-auto" style="max-width:500px;">
                <h3>Modal Title</h3>
                <p class="u-text-mute u-mb-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum similique, dolores dolorem perferendis inventore illum dicta. Nostrum, officiis alias distinctio deleniti aliquid eum dolorum sed fugit omnis molestias! Magnam, animi.</p>
                <button class="c-btn c-btn--info" data-dismiss="modal">
                    Ok, just close this modal
                </button>
            </div>
        </div>
    </div>
</div> -->


<div class="c-modal__dialog modal-dialog" role="document">
        <div class="c-modal__content">
            <div class="c-modal__header">
                <h3 class="c-modal__title">Connect New Service</h3>
                <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-close"></i>
                </span>
            </div>
                <%= render 'form', user: @user %>

        </div><!-- // .c-modal__content -->
    </div><!-- // .c-modal__dialog -->