<table class="c-table" id="datatable">
  <caption class="c-table__title">
        Unités <small>Liste</small>
        <div class="c-right">
          <%= link_to 'Ajouter ', new_unity_path, class: "c-btn c-btn--info", remote: true %>
        </div>
  </caption>
  <thead class="c-table__head c-table__head--slim">
    <tr class="c-table__row">
      <th class="c-table__cell c-table__cell--head">Name</th>
      <th class="c-table__cell c-table__cell--head">Unity symbol</th>
      <th class="c-table__cell c-table__cell--head">Description</th>
      <th class="c-table__cell c-table__cell--head">Actions</th>
    </tr>
  </thead>

  <tbody class="unities">
    <%= render 'index' %>
  </tbody>
</table>

<div id="unity-modal" class="c-modal modal fade" data-backdrop="static"></div>
