<header class="c-navbar u-mb-medium">
    <button class="c-sidebar-toggle u-mr-small">
        <span class="c-sidebar-toggle__bar"></span>
        <span class="c-sidebar-toggle__bar"></span>
        <span class="c-sidebar-toggle__bar"></span>
    </button><!-- // .c-sidebar-toggle -->

    <h2 class="c-navbar__title u-mr-auto">Account</h2>
    
    

    <!-- Is notifications -->
    <% if notifications? %>
        <%= render "../views/components/notifications/notifications" %>
    <% end %>


    <!-- User is login -->
    <% if user_signed_in? %>
        <%= render "../views/components/signedin/signedin" %>
    <% end %>
</header>