<table class="c-table" id="datatable">
  <caption class="c-table__title">
        Produits <small>Liste</small>
        <div class="c-right">
          <%= link_to 'Ajouter ', new_product_path, class: "c-btn c-btn--info", remote: true %>
        </div>
  </caption>
  <thead class="c-table__head c-table__head--slim">
    <tr class="c-table__row">
      <th class="c-table__cell c-table__cell--head">Name</th>
      <th class="c-table__cell c-table__cell--head">Unity</th>
      <th class="c-table__cell c-table__cell--head">Unit price</th>
      <th class="c-table__cell c-table__cell--head">Deposit</th>
      <th class="c-table__cell c-table__cell--head">Product category</th>
      <th class="c-table__cell c-table__cell--head">Reorder threshold</th>
      <th class="c-table__cell c-table__cell--head">Actions</th>
    </tr>
  </thead>

  <tbody class="products">
    <%= render 'index' %>
  </tbody>
</table>

<div id="product-modal" class="c-modal modal fade" data-backdrop="static"></div>
